body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}
body.dark-mode {
  background-color: black;
  color: white;
}
body.dark-mode iconify-icon {
  color: white;
}
iconify-icon {
  color: black;
  cursor: pointer;
}
